<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
    <title>Maps JavaScript API</title>
	<style> 
  	  #map {
        height: 100%;
      }
     
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	</style> 
</head>  
	<body>
		<div id ="map"> </div> 
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD29bUtj6SS8EJZZrzzmi5z_OrlEjF2CYY&callback=initMap" async defer></script>
	<script>
		
      var map;
      var marker;
  	 function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
		  center: {lat: -34.9205233, lng: -57.9881898},
          zoom: 13,
        });
        var vanIcon = {
            url: 'http://maps.google.com/mapfiles/kml/shapes/bus.png',
        }      
        marker = new google.maps.Marker({
          position: {lat: -34.9205233, lng: -57.9881898},
          map: map,
          title: 'Combi I',
          icon: vanIcon,
          optimized: false
        });
        marker.addListener('click', toggleBounce);
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      
	</script>

	</body> 
</html>